.project{
    padding: 0.5em;
    margin-right: 1em;
    display: inline-block;
    width: 25em;
}
a{
    margin: 0.5em;
}
p{
    word-break: break-all;
    white-space: normal;
}
.card{
    width: 18rem;
    display: inline-block;
}